<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="img/share-image.jpg">
	<meta property="og:title" content="Mustaj Dj Site">
	<meta property="og:description" content="Este é o site Mustaj Dj, veja eventos, redes sociais oficiais e muito mais...">
	<meta property="og:url" content="http://mustaj.com.br">
	<meta property="og:site_name" content="Mustaj Dj">
	<meta property="og:type" content="website">
    <title>Mustaj Dj</title>
    <link rel="stylesheet" href="css/main.bundle.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
    <nav>
        <div class="page-wrapper">
            <div class="nav__social">
                <a href="https://twitter.com/mustaj_" target="_blank"><i class="icon-twitter"></i></a>
                <a href="https://www.linkedin.com/in/italo-pereira-59603815a/" target="_blank"><i class="icon-linkedin"></i></a>
                <a href="https://www.instagram.com/mustaj_dj/" target="_blank"><i class="icon-instagram"></i></a>
                <a href="https://www.facebook.com/mustajDeeJay/" target="_blank"><i class="icon-facebook"></i></a>
            </div>
            <!-- <div class="nav__menu">
                <a href="#events">EVENTOS</a>
                <a href="#media">MEDIA</a>
                <a href="javascript:;">SOBRE</a>
                <a href="javascript:;">CONTATO</a>
            </div>
            <div class="nav__btn-menu">
                <div class="btn-line btn-line-1"></div>
                <div class="btn-line btn-line-2"></div>
                <div class="btn-line btn-line-3"></div>
            </div> -->
        </div>
    </nav>

    <header>
        <div class="header__logo">LOGO</div>
        <div class="header__arrow"><i class="icon-chevron-down"></i></div>
    </header>

    <section id="events" style="display:none">
        
    </section>

    <!-- <section id="media">
        <div class="page-wrapper">
            <h2>MEDIA</h2>
        </div>
        <div class="media-grid">

        </div>
        <button>
            VER MAIS
        </button>
    </section> -->

    <!-- <section class="about">
        <div class="page-wrapper">
        </div>
    </section> -->

    <!-- <section class="contact">
        <div class="page-wrapper">
            <h2>CONTATO</h2>
        </div>
    </section> -->

    <!-- <section id="modal">
        <div class="modal__wrapper">
            <div class="modal__wrapper__close icon-x"></div>
            <div id="player" style="display:none;"></div>
            <div class="modal__wrapper__image" style="display:none;"></div>
        </div>
    </section> -->

    <!-- <section id="menu">
        <div class="menu__nav">
            <div class="page-wrapper">
                <div class="menu__nav__btn-menu">
                    <div class="btn-line btn-line-1"></div>
                    <div class="btn-line btn-line-2"></div>
                </div>
            </div>
        </div>
        <div class="menu__body">
            <div class="page-wrapper">
                <a href="#events">EVENTOS</a>
                <a href="#media">MEDIA</a>
            </div>
        </div>
    </section> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134145983-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134145983-1');
    </script>


    <script src="js/main.bundle.js" charset="utf-8"></script>
    
</body>
</html>